<div class="container">
    <!-- The Modal -->
  <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <!-- <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div> -->
            
            <!-- Modal body -->
            <div class="modal-body" id = "firstModalBody">
              
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
            </div>
            
          </div>
        </div>
    </div>
      
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">Peter's Scraper</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
                <button type="button" class="btn btn-light">Home</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/articleComment.html">
                <button type="button" class="btn btn-light">Saved Articles</button>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
                <button type="button" class="btn btn-danger" id = "scrape-new">Scrap New Articles</button>
            </a>
          </li>
        </ul>
    </nav>
    <div class = "bg">
        <p class = "background-title">Peter's Scraper</p>
        <p class = "background-subtitle">New York Times Edition</p>
    </div>
    <div class="articles-wrapper">
        <p id="start-slogan">uh, oh. looks like we don't have any scraped articles</p>
    </div>
</div>